* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
:root {
    --primary-color: #FFBAA1;
    --secondery-color: #110ACD
}
li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.grid {
    display: grid;
}
.p2 {
    padding: 20px;
}
.p5 {
    padding: 50px;
}
.mb-2 {
    margin-bottom: 20px;
}
.d-flex {
    display: flex;
}
.center {
    justify-content: center;
    align-items: center;
}
.heroSection {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
}
.heroSection__header {
    grid-template-columns: repeat(3, 1fr);
}
.logo {
    grid-column: 1 / 2;
}
.text-left {
    text-align: left;
}
.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 178.7%;
}
.title {
    font-family: 'Nunito', sans-serif;
    font-size: 42px;
}
.menu {
    grid-column: 2 / 4;
    align-items: center;
    justify-content: flex-end;
}
.menu > ul > li > a {
    margin: 10px;
}
.btn {
    border: 0px;
    padding: 12px 20px;
    background-color: var(--secondery-color);
    color: #fff;
    border-radius: 4px;
}
.heroSection__content {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    padding-top: 100px;
}
.contentBox {
    text-align: right;
    padding-top: 80px;
}
.buttonsBox {
    align-items: center;
    justify-content: flex-end;
}
.aboutSection {
    padding-top: 100px;
}
.aboutSection > .container {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
.aboutSection > .container > .contentBox > .btn {
    justify-content: center;
    position: relative;
}
.contentBox > .btn > img {
    position: absolute;
    left: 10px;
}

.heroSection__content > .contentBox > .btn {
    justify-content: center;
    text-align: center;
}
.contentBox > .btn > p {
    text-align: center;
}

.commentSection {
    padding: 180px 20px;
}
.commentBox {
    max-width: 550px;
    margin: auto;
    align-items: center;
    text-align: center;
}
.peeps {
    width: 100%;
    height: 80vh;
    margin-top: 100px;
    background-image: url('../assets/Peeps-desktop.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 915px) {
    .text-center-md {
        text-align: center;
    }
    .heroSection__content {
        padding-bottom: 250px;
    }
    .heroSection__content > .imageBox {
        grid-row: 1;
    }
    .buttonsBox {
        justify-content: center;
        padding: 40px;
    }
    .aboutSection > .container > .imageBox {
        margin-top: -355px;
    }
}
@media (max-width: 800px) {
    .peeps {
        background-image: url('../assets/peeps-mobile.png');
    }
}
